<%- include('../layout/menu-atas') %>
  <%- include('../layout/menu-kiri') %>

    <h1>Karyawan</h1>
    <div class="card">
      <div class="card-header">
        <div class="card-title">List Karywan</div>
      </div>
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Nama</th>
              <th>Tanggal Lahir</th>
              <th>Jenis Kelamin</th>
              <th>Alamat</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i=0; i < data_karyawan.length; i++ ) { %>
              <tr>
                <td>
                  <%= data_karyawan[i].id %>
                </td>
                <td>
                  <%= data_karyawan[i].nama %>
                </td>
                <td>
                  <%= data_karyawan[i].tanggal_lahir %>
                </td>
                <td>
                  <%= data_karyawan[i].jenis_kelamin %>
                </td>
                <td>
                  <%= data_karyawan[i].alamat %>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('../layout/footer') %>